img.icon.icon--remote-bomb-square(src="./images/remote.svg")
//img.icon.icon--remote2(src="./images/remote2.svg")
img.icon.icon--stasis(src="./images/statis.svg")
img.icon.icon--magnesis(src="./images/magnesis.svg")
img.icon.icon--cryonis(src="./images/cryonis.svg")
img.icon.icon--camera(src="./images/camera.svg")
img.icon.icon--hylian-shield(src="./images/shield.svg")
img.icon.icon--master-sword(src="./images/sword.svg")
img.icon.icon--spirit-orb(src="./images/spirit-orb2.svg")
img.icon.icon--korok-seed(src="./images/korok-seed.svg")
img.icon.icon--mipha-grace(src="./images/mipha.svg")
img.icon.icon--revali-gale(src="./images/revali.svg")
img.icon.icon--daruk-protection(src="./images/daruk.svg")
img.icon.icon--urbosa-fury(src="./images/urbosa.svg")
img.icon.icon--master-torch(src="./images/master-torch.svg")
