img.icon(src="./images/remote.svg")
img.icon(src="./images/remote2.svg")
img.icon(src="./images/statis.svg")
img.icon(src="./images/magnesis.svg")
img.icon(src="./images/cryonis.svg")
img.icon(src="./images/camera.svg")
img.icon(src="./images/shield.svg")
img.icon(src="./images/sword.svg")
img.icon(src="./images/spirit-orb.svg")
img.icon(src="./images/spirit-orb2.svg")
img.icon(src="./images/korok-seed.svg")
img.icon(src="./images/mipha.svg")
img.icon(src="./images/revali.svg")
img.icon(src="./images/daruk.svg")
img.icon(src="./images/urbosa.svg")
img.icon(src="./images/master-torch.svg")
