div.icon.icon--remote-bomb-sphere
  img(src="./images/remote.svg")
div.icon.icon--remote-bomb-cube
  img(src="./images/remote2.svg")
div.icon.icon--stasis
  img(src="./images/statis.svg")
div.icon.icon--magnesis
  img(src="./images/magnesis.svg")
div.icon.icon--cryonis
  img(src="./images/cryonis.svg")
div.icon.icon--camera
  img(src="./images/camera.svg")
div.icon.icon--hylian-shield
  img(src="./images/shield.svg")
div.icon.icon--master-sword
  img(src="./images/sword.svg")
div.icon.icon--spirit-orb
  img(src="./images/spirit-orb2.svg")
div.icon.icon--korok-seeds
  img(src="./images/korok-seed.svg")
div.icon.icon--mipha-grace
  img(src="./images/mipha.svg")
div.icon.icon--revali-gale
  img(src="./images/revali.svg")
div.icon.icon--daruk-protection
  img(src="./images/daruk.svg")
div.icon.icon--urbosa-fury
  img(src="./images/urbosa.svg")
div.icon.icon--master-torch
  img(src="./images/master-torch.svg")
