.icon
  width: 2.25rem
  position: absolute
  top: 0
  left: 0
  &--remote
    left: 1625px
    top: 2065px
  &--stasis
    left: 1505px
    top: 2175px
  &--magnesis
    left: 1520px
    top: 1975px
  &--cryonis
    left: 1355px
    top: 2075px
  &--camera
    left: 2910px
    top: 2120px
  &--shield
    left: 1695px
    top: 1160px
  &--sword
    left: 1915px
    top: 825px
  &--spirit-orb
    left: 1540px
    top: 2080px
  &--spirit-orb2
    left: 0px
    top: 0px
  &--korok-seed
    left: 2405px
    top: 1905px
  &--miphas
    left: 2675px
    top: 1550px
  &--revali
    left: 700px
    top: 935px
  &--daruk
    left: 2515px
    top: 725px
  &--urbosa
    left: 1150px
    top: 2275px
  &--master-torch
    left: 2045px
    top: 1525px